fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
pypdf
paddleocr
paddlepaddle
pillow
langchain-google-genai
langchain-mistralai
SQLAlchemy
psycopg2-binary
chromadb
langchain-text-splitters
